/*======================== Laptop Navbar ========================*/
header{
    width: 100% !important;
    justify-content: space-between;
    align-items: center;
    transition: .7s;
    background-color: transparent;
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
    box-shadow: 1px 1px #ddd;
}
  
.navbar-fixed-top.scrolled .laptop_navbar nav ul li a {
    color:#000;
}
.navbar-fixed-top.scrolled .laptop_navbar nav ul li a:hover{
    color:rgb(95, 95, 95);
}

.navbar-brand img{
    width: 140px;
}

.laptop_navbar nav ul li a{
    color: #fff;
    text-decoration: none;
    transition: .07s;
    
}
.laptop_navbar nav ul li a:hover{
    color: rgb(247, 246, 246);
    
}
.laptop_navbar nav ul li{
    margin: 20px;
}
.laptop_navbar ul li ul{
    background: #fff;
    box-shadow: 1px 1px 1px 1px #ddd;
    width: 310px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    max-height: 480px;
    overflow: auto;

    margin-left: -60px;

}
.laptop_navbar ul li ul li{
    list-style: none;
    margin-top: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-top: 7px;
    padding-bottom: 15px;
}
.laptop_navbar ul li ul li a{
    color: #000;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 50px;
    transition: .03s;
    width: 280px;
    transition: 0.5s;
}
.laptop_navbar ul li ul li a:hover{
    color: #000;
    margin-left: 15px;
}
.laptop_navbar ul li ul li a span{
    min-width: 250px !important;
}
.sub_menu{
    display: none;
}
.laptop_navbar ul li:hover .sub_menu{
    display: block;
    position: absolute;
}

.laptop_navbar ul li ul li a .fa-arrow-right{
    transition: 0.5s !important;
    display: none;
    margin-left: 220px !important;
}
.laptop_navbar ul li ul li a:hover .fa-arrow-right{
    
    
    position: absolute;
    margin-top: -20px;

}

@media(min-width:1024px){
    .mobile_navbar{
        display: none;
    }
}
/*======================== Mobile Navbar ========================*/
@media(max-width:768px){
    .laptop_navbar{
        display: none;
    }
    .mobile_navbar{
        display: block;
    }
}
.mobile_navbar ul li ul li{
    list-style: none;
    margin-top: 7px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(165, 165, 165);
    padding-top: 7px;
    padding-bottom: 15px;
}
.mobile_navbar ul li ul{
    border: none;
    background-color: rgb(236, 236, 236);
}
.mobile_navbar .fa-arrow-down{
    margin-left: 240px;
}
.mobile_navbar .mobile_logo{
    width: 100px;
}










/*======================== Banner Section ========================*/

.banner h1{
    margin-top: -500px;
    margin-bottom: 30px;
    font-size: 60px;
    font-weight: 700;
    text-align: left;
    
}
.banner p{
    font-size: 20px;
}
.banner img{
    width: 450px;
}

.about{
    background-color: rgb(248, 246, 245);
}
.about h1{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-top: 30px;
}
.about{
    box-sizing: border-box;
}
.about p{
    font-size: 25px;
    margin-left: 130px;
}
.h1{
    text-align: center;
    font-size: 60px;
    font-weight: 700;
}

.products p{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*======================== Technical Expertise Section ========================*/

.covid_19 h1{
    margin-top: 50px;
    margin-bottom: 20px;
}
.covid_19 p{
    font-size: 18px;
    margin-bottom: 60px;
}

.owl-nav{
    margin-top: 0px;
}
.owl-nav button span{
    font-size: 47px;
    background: #ddd !important;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px !important;
    border-radius: 100% !important;
    padding-bottom: 4px !important;
    color: #000;
    transition: 0.5s;
}
.owl-nav button span:hover{
    font-size: 47px ;
    background: #0012a9 !important;
    padding-left: 25px ;
    padding-right: 25px ;
    padding-top: 0px !important;
    border-radius: 100% !important;
    padding-bottom: 4px !important;
    color: #fff;
}

.owl-theme .owl-nav [class*=owl-]:hover{
    font-size: 47px !important;
    background: #ddd !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 3px !important;
    border-radius: 100% !important;
    padding-bottom: 8px !important;
    color: #fff !important;
    padding: 0 !important;
}

.global img{
    width: 100%;
    height: 700px;
}
.global h1{
    font-size: 50px;
    margin-bottom: 20px;
}
.global p{
    font-size: 20px;
    margin-bottom: 60px;
}

/*======================== Leadership Team Section ========================*/


.leadership h1{
    margin-bottom: 50px;
}
.leadership img{
    width: 300px;
    height: auto;
}
.leadership h4{
    font-size: 20px;
    font-weight: normal;
    margin-top: 20px;
    text-align: left;
}
.leadership p{
    font-weight: 600;
    font-size: 17px;
    text-align: left;
}

.leadership .btn .fa-arrow-right{
    font-size: 20px;
    background-color: #0012a9;
    border-radius: 100%;
    color: #fff;
    padding: 20px;
    margin-right: 15px;
}

.leadership .btn{
    transition: 0.7s !important;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 40px;
}

.leadership .btn:hover{
    background-color: #0012a9;
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    transform: translate(0,0);    
    padding-top: 0;
    padding-bottom: 0;
}










@media(max-width:425px){
    .post img{
        width: 400px !important;
        height: auto !important;
    }
    .banner img{
        width: 425px !important;
        height: 60vh !important;
    }
    .banner h1{
        font-size: 30px;
        margin-top: 0px !important;
        margin-bottom: 10px;
    }
    .about h1{
        font-size: 30px !important;
    }
    .about p{
        font-size: 17px;
        margin-left: auto;
    }
    .milestones h1{
        font-size: 30px !important;
    }
    .milestones p{
        font-size: 18px;
    }
    .history img {
        width: 360px;
        height: auto;
        text-align: center;
        margin-bottom: 40px;
    }
    .history p{
        font-size: 18px;
    }
    .fz{
        font-size: 18px !important;
    }
    .owl-nav button span{
        font-size: 34px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .owl-nav button span:hover{
        font-size: 34px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .owl-theme .owl-nav [class*=owl-]:hover{
        font-size: 34px !important;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .global h1{
        font-size: 30px;
    }
    .global img{
        width: 400px;
        height: 300px;
    }
    .leadership h4,p{
        margin-left: 50px;
    }
    .products p{
        font-size: 18px;
        margin-left: 0 !important;
    }
    
    .covid_19 p{
        margin-left: 0;
    }
    .global p{
        margin-left: 0;
    }
}


















/*======================== Footer Section ========================*/

footer{
    background-color: #000;
    padding-top: 80px;
    padding-bottom: 10px;
    color: #fff;
}
footer h4{
    font-weight: 700;
    margin-bottom: 40px;
}
footer p{
    margin-left: 0;
}

footer h2{
    margin-bottom: 30px;
}

footer ul li{
    list-style-type: disclosure-closed;
    margin-bottom: 10px;

}
footer ul li a{
    color: #fff;
    text-decoration: none;
    padding: 10px;
}
footer .social a{
    text-decoration: none;
    color: #fff;
}
footer .social i{
    font-size: 40px;
    margin-right: 15px;
}
footer .copyright{
    color: rgb(153, 153, 153);
    margin-top: 40px;
}
footer .copyright img{
    width: 30px;
    height: auto;
    margin-left: 10px;
    
}
footer .copyright .made{
    position: absolute;
    right: 10%;
    margin-top: -30px;
}


.scroll_top{
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 9999;
}
.scroll_top a{
    text-decoration: none;color: #0012a9;
    background-color: transparent;
    background-color: #fff;
    padding: 12px 16px;
    border-radius: 100%;
}

